<h1><%= t(:register_new_product) %></h1>

<%= simple_form_for @products_index, url: group_products_indices_path(group_id: current_user.group_id), :html => { :class => 'form-horizontal' } do |f| %>
  <%= render :partial => 'form', locals: { f: f, products_index: @products_index } %>
<% end %>

<%= link_to t(:back), group_products_indices_path %>
