<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @products_index.name %>
</p>

<%= link_to 'Edit', edit_products_index_path(@products_index) %> |
<%= link_to 'Back', products_indices_path %>
