<h1>Editing Product</h1>

<%= simple_form_for( @product, url: user_product_path, html: { class: 'form-horizontal' }) do |f| %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'Show', user_product_path %> |
<%= link_to 'Back', user_products_path(user_id: @product.user_id) %>
